@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --purple-100: #5100BF;
  --purple-50: #AF8AE2;
  --purple-20: #EEE6F9;
  --yellow-100:#FFD855;
  --yellow-50: #FFEBAA;
  --yellow-30: #FFF9E6;
  --black-100: #000000;
  --black-70: #3A3A3A;
  --black-50: #626262;
  --black-30: #ADADAD;
  --white: #FFFFFF;
  --purple-yellow-gradient:  linear-gradient(91deg, #5100BF 14.44%, #FFD855 119.53%);
  --font-1: 64px;
  --font-2: 56px;
  --font-3: 40px;
  --font-4: 24px;
  --large-spacing-1: 96px;
  --large-spacing-2: 72px;
  --large-spacing-3: 64px;
  --medium-spacing-1: 56px;
  --medium-spacing-2: 48px;
  --medium-spacing-3: 40px;
  --small-spacing-1: 32px;
  --small-spacing-2: 24px;
  --small-spacing-3: 16px;
  --font-sans: ${sans.style.fontFamily};
  --font-big-shoulder: ${big-shoulder.style.fontFamily};
  --font-neue: ${neue.style.fontFamily};
}


body{
  font-family: var(--font-neue);
}

h1{
  font-family: var(--font-big-shoulder);
}